DB_USERNAME=TU_DB_USERNAME
DB_PASSWORD=TU_DB_PASSWORD
NAME_DB=arcane-emporium-db
DB_HOST=localhost
DB_PORT=5432
BREVO_SENDER_EMAIL=correo de registrado en brevo
BREVO_SENDER_NAME=arcane-emporium-api
CORS_PERMISSION=http://localhost:5173
BREVO_API_KEY=api-kye de brevo
